/* general tag */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  color: rgba(0,0,0,0.71);
  font-size: 16px;
  margin-bottom: 40px;
}

a, a:visited {
  color: #3498DB;
}

.header {
  height: 60px;
  background: #2e51a2;
}

.header a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.header-wrapper {
  width: 960px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 200px;
}

.logo a {
  line-height: 60px;
}

.logo.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.search {
  float: right;
  width: 100%;
  line-height: 60px;
  margin-left: -200px;
  margin-right: -200px;
}

.search-wrapper {
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
}

.search label {
  top: 2px;
  left: 7px;
  cursor: text;
  font-size: 12px;
  position: absolute;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 7px;
  font-size: 12px;
  border-radius: 3px;
}

.user {
  width: 200px;
  float: right;
  padding: 0 5px;
  text-align: right;
  position: relative;
}

.user .dropdown-switch {
  line-height: 60px;
  padding-right: 10px;
  position: relative;
}

.user-dropdown {
  right: 0;
  top: 60px;
  width: 150px;
  padding: 10px 0;
  text-align: left;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  border: 1px solid #ccc;
  z-index: 999;
}

.user-dropdown:before {
  top: -5px;
  right: 25px;
  width: 10px;
  height: 10px;
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.user-dropdown-item {
  padding: 0 10px;
}

.user-dropdown-item a {
  color: #555;
  display: block;
  padding: 5px 0;
  font-size: 12px;
}

.user-dropdown-item:hover {
  background: #2e51a2;
}

.user-dropdown-item:hover a {
  color: #fff;
}

.user-dropdown-item .badge {
  color: green;
  float: right;
  font-size: 12px;
}

.user-dropdown-item:hover .badge {
  color: #97FF94;
}

.divider {
  height: 1px;
  content: "";
  width: 100%;
  margin: 3px 0;
  display: block;
  border-top: 1px solid #ccc;
}

.home form {
  margin-top: 15px;
}

.validation-errors {
  color: red;
  width: 310px;
  padding: 10px;
  margin: 0 auto;
  font-size: 12px;
  margin-top: 15px;
  list-style: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.validation-errors li {
  padding: 2px 0;
}

.form {
  margin: 0 auto;
  width: 310px;
  overflow: hidden;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-group {
  width: 100%;
  padding: 5px 0;
}

.form-group > input {
  width: 100%;
  height: 28px;
  padding: 0 7px;
  outline: none;
  display: block;
  border-radius: 3px;
  border: 1px solid #ccd6dd;
}

.form-group.password {
  width: 203px;
  float: left;
  margin-right: 5px;
}

.form-group.submit {
  width: 80px;
  float: left;
}

.submit button {
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 13px;
  background-color: #1da1f2;
  border: 1px solid #3b88c3;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
}

.loading {
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('img/loading.gif');
}
